.about-us {
  background: white;
  padding: 30px 0;
}

.about-us .row {
  color: #3D3C38;
}

.about-us .row .col-md-6 {
  text-align: center;
  margin: 20px 25px;
}

.about-us .row .who-are-we {
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Gotham-Medium';
  font-size: 22px;
  color: #333333;
  letter-spacing: 2px;
  line-height: 30px;
}

.about-us .row .who-are-we::after {
  content: " ";
  background: #3D3C38;
  display: block;
  width: 26px;
  height: 3px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: -10px;
}

.about-us .row .info {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
}
