.quote {
  text-align: center;
  background: #fbfbfb;
  padding: 0 20px;
  padding-bottom: 40px;
}

.quote .sign {
  font-family: 'Georgia', serif;
  font-size: 50px;
  padding-top: 30px;
  margin-bottom: -20px;
  color: 1px;
}

.quote .text {
  font-size: 20px;
  color: #000000;
  line-height: 26px;
}

.quote .name {
  margin-bottom: 3px;
  font-family: Gotham-Medium;
  font-size: 18px;
  color: #000000;
  line-height: 26px;
}

.quote .name::before {
  content: " ";
  background: #3D3C38;
  display: block;
  width: 26px;
  height: 3px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 7px;
}

.quote .about {
  font-size: 12px;
  color: #000000;
  letter-spacing: 2px;
  line-height: 26px;
}
