.work {
  background: white;
}

.work .work-header {
  text-align: center;
  padding-top: 50px;
}

.work .work-header .title {
  font-family: Gotham-Medium;
  font-size: 22px;
  color: #333333;
  letter-spacing: 2px;
  line-height: 30px;
}

.work .work-header .title::after {
  content: " ";
  background: #3D3C38;
  display: block;
  width: 26px;
  height: 3px;
  margin: 0 auto;
  margin-top: 10px;
}

.work .work-header .description {
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 16px;
  color: #333333;
  line-height: 26px;
}

.work .case-studies {
  overflow: auto;
  margin-top: 50px;
  width: 100% !important;
}

/*.work .case-studies .left, .work .case-studies .right{
  float: left;
}*/

.work .case-studies .left {
  padding-left: 0;
  padding-right: 0;
}

.work .case-studies .right {
  padding-left: 30px;
  padding-top: 0px;
  text-align: left;
}

.work .case-studies .left img {
  width: 100%;
}

.work .case-studies .right .description {
  background-color: #FBF9F3;
  text-align: left;
  margin-top: 0px;
  height: 700px;
  padding: 50px 60px;
}

.work .case-studies .case-title {
  font-family: Gotham-Medium;
  font-size: 20px;
  color: #000000;
  line-height: 30px;
  margin-bottom: 3px;
}

.work .case-studies .case-subtitle {
  font-family: Gotham-Book;
  font-size: 12px;
  color: #000000;
  letter-spacing: 2px;
  line-height: 26px;
  margin-bottom: 15px;
}

.work .case-studies .case-description {
  font-family: Gotham-Book;
  font-size: 15px;
  color: #000000;
  line-height: 26px;
  margin-bottom: 30px;
}

.work .case-studies .read div {
  padding: 12px 21px;
  background-color: transparent;
  width: 228px;
  display: inline-block;
  margin: 0 auto;
  border-radius: 4px;
  border: solid 2px #414242;
  font-family: Gotham-Medium;
  font-size: 17px;
  color: #333333;
  letter-spacing: 0.47px;
  line-height: 20px;
  margin-bottom: 50px;
  transition: all 0.4s ease 0s;
  text-align: center;
}

.read:focus {
  outline: none;
}

.btn-hover:hover {
  color: #faf9f4 !important;
  background: #333333 !important;
}

.work .case-studies .arrows img {
  width: 30px;
  display: inline;
  cursor: pointer;
}

.case-studies .case-studie {
  margin-left: 0px !important;
}

/*.work .case-studies .case-studie .left, .work .case-studies .case-studie .right {*/
  /*width: 50%;
  float: left;*/
  /*height: 700px;*/
/*}*/
