.about-us {
  background: white;
  padding: 30px 0;
}

.about-us .row {
  color: #3D3C38;
}

.about-us .row .col-md-6 {
  text-align: center;
  margin: 20px 25px;
}

.about-us .row .who-are-we {
  text-align: center;
  margin-bottom: 25px;
  font-size: 18px;
  color: #3d3c38;
  font-weight: bold;
}

.about-us .row .who-are-we::after {
  content: " ";
  background: #3D3C38;
  display: block;
  width: 26px;
  height: 3px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: -10px;
}

.about-us .row .info {
  color: #343233;
}
