.space-image {
  margin: 20px 40px 35px;;
  background: #faf9f4;
}

.space-image .moto {
  width: 78%;
  display: block;
  margin: 0 auto;
  color: #3d3c38;
  font-size: 4.8vw;
  line-height: 2;
}

.space-image .moto span.underline {
  font-family: 'Gotham-black';
  padding-bottom: 5px;
  border-bottom: 3px solid #3D3C38;
}
