.work {
  height: 180px;
  background: white;
}

.work .work-header {
  text-align: center;
  padding-top: 50px;
}

.work .work-header .title {
  font-family: Gotham-Medium;
  font-size: 22px;
  color: #333333;
  letter-spacing: 2px;
  line-height: 30px;
}

.work .work-header .title::after {
  content: " ";
  background: #3D3C38;
  display: block;
  width: 26px;
  height: 3px;
  margin: 0 auto;
  margin-top: 10px;
}

.work .work-header .description {
  margin-top: 15px;
  font-size: 16px;
  color: #333333;
  line-height: 26px;
}
