body {
  background: #faf9f4;
  font-family: 'Gotham-Book';
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.selectable-text {
    -webkit-user-select: text;
     -khtml-user-select: text;
       -moz-user-select: text;
         -o-user-select: text;
            user-select: text;
}

.container {
  width: 100%;
}

a:hover, a:focus {
  text-decoration: none;
}

header {
  width: 100%;
  height: 70px;
  background: white;
}

header .header-links {
  margin-top: 25px;
}

header .header-links a, header .header-links a:hover {
  font-family: 'Gotham-Bold';
  color: #333333;
  text-decoration: none;
}

header .header-links .brand a {
  font-family: 'Gotham-Medium';
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 26px;
  float: left;
  margin-top: -2px;
}

header .header-links ul.right-links {
  display: none;
  float: right;
}

header .header-links ul.right-links li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

header .header-links ul.right-links li a {
  font-family: Gotham-Medium;
  font-size: 15px;
  line-height: 18px;
  transition: all 0.1s ease 0s;
}

header .header-links ul.right-links li a:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid #3D3C38;
}

.space-image .space-art-work {
  text-align: center;
}

.space-image #scene {
  display: inline-block;
}
