.services {
  background: #e8f6ff;
  padding: 50px 25px 30px;
}

.services .services-header {
  text-align: center;
}

.services .services-header .title {
  font-family: Gotham-Medium;
  font-size: 22px;
  color: #333333;
  letter-spacing: 2px;
  line-height: 30px;
}

.services .services-header .title::after {
  content: " ";
  background: #3D3C38;
  display: block;
  width: 26px;
  height: 3px;
  margin: 0 auto;
  margin-top: 10px;
}

.services .services-header .description {
  margin-top: 15px;
  font-size: 16px;
  color: #333333;
  line-height: 26px;
}

.services .row {
  text-align: center;
  margin-top: 35px;
}

.services .row .col-md-6 {
  margin-bottom: 30px;
}

.services .row .col-md-6 .icon {
  margin-bottom: 15px;
}

.services .row .col-md-6 .icon .box {
  display: inline-block;
  width: 68px;
  height: 68px;
}

.services .row .col-md-6 .title {
  font-size: 16px;
  color: #3d3c38;
  font-family: 'Gotham-Bold';
}

.services .row .col-md-6 .description {
  margin-top: 20px;
  line-height: 26px;
  font-size: 15px;
  color: #000000;
}
