.space-image {
  margin: 20px 40px 35px;;
  background: #faf9f4;
  overflow: hidden;
}

.space-image .space-art-work img {
  display: none;
}

.space-image .space-art-work .motto {
  width: 78%;
  display: block;
  margin: 0 auto;
  font-size: 40px;
  text-align: center;
  font-size: 40px;
  line-height: 52px;
}

.space-image .space-art-work .motto span.underline {
  font-family: 'Gotham-bold';
  padding-bottom: 5px;
  border-bottom: 3px solid #3D3C38;
}
