.team {
  height: auto;
  background: white;
  text-align: center;
}

.team .title {
  padding-top: 50px;
  font-family: Gotham-Medium;
  font-size: 22px;
  color: #333333;
  letter-spacing: 2px;
  line-height: 30px;
}

.team .title::after {
  content: " ";
  background: #3D3C38;
  display: block;
  width: 26px;
  height: 3px;
  margin: 0 auto;
  margin-top: 10px;
}

.team .description {
  margin-top: 15px;
  font-size: 16px;
  color: #333333;
  line-height: 26px;
}

.team .team-members {
  padding-bottom: 50px;
}

.team .team-members .team-member {
  color: black;
  margin-top: 50px;
}

.team .team-members .team-member .profile-image img {
  width: 150px;
  padding: 8px;
  border-radius: 50%;
}

.team .team-members .team-member .profile-image img:hover {
  padding: 6px;
  border: solid 2px black;
}

.team .team-members .team-member .name {
  margin-top: 7px;
  font-family: Gotham-Medium;
  font-size: 20px;
  color: #000000;
  line-height: 30px;
}

.team .team-members .team-member .role {
  margin-top: 5px;
  font-size: 12px;
  color: #000000;
  letter-spacing: 2px;
  line-height: 24px;
}

.team .team-members .team-member .social-links {
  margin-top: 10px;
}

.team .team-members .team-member .social-links div {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.team .sign {
  font-family: 'Georgia', serif;
  font-size: 50px;
  margin-bottom: -20px;
}

.team .text {
  padding: 0 20px 60px;
  font-size: 15px;
  color: #000000;
  line-height: 24px;
}
